<h2>Audit Log Index</h2>

<table class="table table-striped table-hover table-bordered">
	<thead>
		<tr>
			<th>Audit Log #</th>
			<th>Name</th>
			<th>Status</th>
			<th>Start Date</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<%= render @audit_logs %>
	</tbody>
</table>
