<li role="presentation" class="<%= active?(new_post_path) %>"><%= link_to "Submit Hours", new_post_path %></li>
<li role="presentation" class="<%= active?(posts_path) %>"><%= link_to "Hours Entries", posts_path %></li>