<li role="presentation" class="<%= active?(new_post_path) %>"><%= link_to "Request New Overtime", new_post_path %></li>
<li role="presentation" class="<%= active?(posts_path) %>"><%= link_to "Overtime Requests", posts_path %></li>