<div class="pending-homepage row">
	<h2>Overtime Requests Pending Approval</h2>
	<%= render partial: "pending_approval", locals: {pending_approvals: @pending_approvals} %>
</div>

<div class="pending-homepage row">
	
	<h2>Confirmation Log</h2>
	<%= render partial: "confirmation_log", locals: {recent_audit_items: @recent_audit_items} %>
	
	<div class="clearfix"></div>
	<hr>
		
	<%= link_to "View All Audit Logs", audit_logs_path, class: "btn btn-primary" %>
	
	
</div>

