<div class="pending-homepage row">
	<h2>Overtime Requests Pending Approval</h2>
	<%= render partial: "pending_approval", locals: {pending_approvals: @pending_approvals} %>
</div>

<div class="pending-homepage">

</div>

