<h2>Posts Index</h2>

<table class="table table-striped table-hover table-bordered">
	<thead>
		<tr>
			<th>Post #</th>
			<th>Name</th>
			<th>Overtime Requested</th>
			<th>Rationale</th>
			<th>Date</th>
			<th>Status</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody id="posts">
		<%= render @posts %>
	</tbody>
</table>

<div id="paginator">
	<%= paginate @posts, remote: true %>
</div>

<%= debug(params) %>